.controls {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	min-height: 0;
	height: 100%;
}

.info {
	margin-bottom: 16px;
	p {
		margin: 4px 0;
	}
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 16px;

	.step-buttons,
	.slide-buttons,
	.crud-buttons,
	.json-buttons {
		display: flex;
		gap: 8px;
	}
}

.slides-list {
	width: 100%;
	overflow-y: auto;
	margin-bottom: 30px;
	.slide {
		padding: 8px;
		margin-bottom: 8px;
		background-color: #ffffff;
		border: 1px solid #ddd;
		border-radius: 4px;
		cursor: pointer;

		&.active {
			border-color: #007bff;
			background-color: #e7f3ff;
		}
		h3 {
			margin: 0;
			font-size: 16px;
			font-weight: bold;
		}
		.step {
			display: inline-block;
			margin-right: 4px;
			font-size: 12px;
			&.current {
				color: #ff0000;
			}
		}

		&:hover {
			border-color: #007bff;
		}
	}
}
